body {
    background-color: black;
}

@font-face {
    font-family: digital;
    src: url(digital.ttf);
}

.display {
    color: red;
    font-family: digital;
    font-size: x-large;
    text-align: center;
}